<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>UNH Goddard | Home</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<style>
		body 		{ padding-top:40px; }
		.jumbotron  { width:100%;}
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<p style="align:left"></p><img src="/public/goddard.png"/>
        </p>
		<p>Login or Register with:</p>

		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
	</div>

</div>
</body>
</html>