<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>UNH Goddard | Cmd</title>
	<link rel="stylesheet" href="/public/bootstrap3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<style>
		body 		        { padding-top:0px; word-wrap:break-word;background-color:#EEE; background-image:url("/public/metal.jpg");}
		.col-xs-2           { height:75px; line-height:75px; background-color:#FFD700; background-size:100%; color:black; border:1px solid white;}
		.col-xs-2:active    { background-color:green; color:black; }
		.col-xs-3           { height:75px; line-height:75px; background-color:#FFD700; background-size:100%; color:black; border:1px solid white;}
		.col-xs-3:active    { background-color:green; color:black; }
	    .btnText            {
    	                        -webkit-touch-callout: none;
                                -webkit-user-select: none;
                                -khtml-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
    	                    }
    	.rotate45 {
                                -webkit-transform: rotate(45deg);
                                -moz-transform: rotate(45deg);
                                -o-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
    	.rotate90 {
                                -webkit-transform: rotate(90deg);
                                -moz-transform: rotate(90deg);
                                -o-transform: rotate(90deg);
                                -ms-transform: rotate(90deg);
                                transform: rotate(90deg);
                            }
                            
        .rotate135 {
                                -webkit-transform: rotate(135deg);
                                -moz-transform: rotate(135deg);
                                -o-transform: rotate(135deg);
                                -ms-transform: rotate(135deg);
                                transform: rotate(135deg);
                            }
        .rotate180 {
                                -webkit-transform: rotate(180deg);
                                -moz-transform: rotate(180deg);
                                -o-transform: rotate(180deg);
                                -ms-transform: rotate(180deg);
                                transform: rotate(180deg);
                            }
        .rotate225 {
                                -webkit-transform: rotate(225deg);
                                -moz-transform: rotate(225deg);
                                -o-transform: rotate(225deg);
                                -ms-transform: rotate(225deg);
                                transform: rotate(225deg);
                            }
        .rotate270 {
                                -webkit-transform: rotate(270deg);
                                -moz-transform: rotate(270deg);
                                -o-transform: rotate(270deg);
                                -ms-transform: rotate(270deg);
                                transform: rotate(270deg);
                            }
        .rotate315 {
                                -webkit-transform: rotate(315deg);
                                -moz-transform: rotate(315deg);
                                -o-transform: rotate(315deg);
                                -ms-transform: rotate(315deg);
                                transform: rotate(315deg);
                            }
                            
	</style>
	 
	<!--Socket.io-->
    <script src="/socket.io/socket.io.js"></script>
    
    <!--Annyang Voice Recognition-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/1.1.0/annyang.min.js"></script>
	
    <script>
      //var socket = io.connect('https://v2-c9-bobbyg603.c9.io');
      var socket = io.connect('raspberrypi.local:8888');
      
      socket.on('news', function (data) {
        console.log(data);
        socket.emit('status', "hello from the client!");
      });
      
      var btnPress = function(btn) {
          console.log(btn);
          socket.emit('button data', btn);
          switch(btn){
            case "help" : document.getElementById("console").innerHTML = "helping!"; break;
            case "bark" : document.getElementById("console").innerHTML = "barking!"; break;
            case "growl" : document.getElementById("console").innerHTML = "growling!"; break;
            case "roam" : document.getElementById("console").innerHTML = "roaming!"; break;
            case "wag" : document.getElementById("console").innerHTML = "wagging!"; break;
            case "dance" : document.getElementById("console").innerHTML = "dancing!"; break;
            case "dj" : document.getElementById("console").innerHTML = "djing!"; break;
            case "bump" : document.getElementById("console").innerHTML = "bumping!"; break;
            case "come" : document.getElementById("console").innerHTML = "coming!"; break;
            case "status" : document.getElementById("console").innerHTML = "status!"; break;
            case "sleep" : document.getElementById("console").innerHTML = "sleeping!"; break;
            case "stop audio" : document.getElementById("console").innerHTML = "stopping!"; break;
              
            case "d1" : document.getElementById("console").innerHTML = "up!"; break;
            case "d2" : document.getElementById("console").innerHTML = "right!"; break;
            case "d3" : document.getElementById("console").innerHTML = "down!"; break;
            case "d4" : document.getElementById("console").innerHTML = "left!"; break;
          }
          //alert("Button: " +btn);
      }
        
    if (annyang) {
      // Let's define our first command. First the text we expect, and then the function it should call
      var commands = {
        'goddard *msg': function(msg) {
          socket.emit('voice data', msg);
          alert("Goddard " +msg);
        }
      };
    
      // Add our commands to annyang
      annyang.addCommands(commands);
    
      // Start listening. You can call this here, or attach this call to an event, button, etc.
      annyang.start();
    }
    </script>
</head>
<body>
<!--Nav Bar-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <center><h4><span id="console">Say a command or tap the controls below!</span</h4></center>
    </div>
  </div>
</nav>

<!--Container-->    
<div class="container-fluid">
    <center><h5>
        <!--Action Buttons-->
        <div class="row">
            <div class="col-xs-3" onclick="btnPress('help');"><span class="btnText">help</span></div>
            <div class="col-xs-3" onclick="btnPress('bark');"><span class="btnText">bark</span></div>
            <div class="col-xs-3" onclick="btnPress('growl');"><span class="btnText">growl</span></div>
            <div class="col-xs-3" onclick="btnPress('roam');"><span class="btnText">roam</span></div>
        </div>
        <div class="row">
            <div class="col-xs-3" onclick="btnPress('wag');"><span class="btnText">wag</span></div>
            <div class="col-xs-3" onclick="btnPress('dance');"><span class="btnText">dance</span></div>
            <div class="col-xs-3" onclick="btnPress('dj');"><span class="btnText">dj</span></div>
            <div class="col-xs-3" onclick="btnPress('bump');"><span class="btnText">bump</span></div>
        </div>
        <div class="row">
            <div class="col-xs-3" onclick="btnPress('come');"><span class="btnText">come</span></div>
            <div class="col-xs-3" onclick="btnPress('status');"><span class="btnText">status</span></div>
            <div class="col-xs-3" onclick="btnPress('sleep');"><span class="btnText">sleep</span></div>
            <div class="col-xs-3" onclick="btnPress('stop audio');"><span class="btnText">stop</span></div>
        </div>

        <br/>

        <!--Directional Buttons-->
        <div class="row">
            <div class="col-xs-2 col-xs-offset-3" onclick="btnPress('d1');"><span class="btnText"><img class="rotate315" src="/public/arrow.png"/></span></div>
            <div class="col-xs-2" onclick="btnPress('d2');"><span class="btnText"><img src="/public/arrow.png"/></span></div>
            <div class="col-xs-2" onclick="btnPress('d3');"><span class="btnText"><img class="rotate45" src="/public/arrow.png"/></span></div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-3" onclick="btnPress('d4');"><span class="btnText"><img class="rotate270" src="/public/arrow.png"/></span></div>
            <div class="col-xs-2" onclick="btnPress('d5');"><span class="btnText">0</span></div>
            <div class="col-xs-2" onclick="btnPress('d6');"><span class="btnText"><img class="rotate90" src="/public/arrow.png"/></span></div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-3" onclick="btnPress('d7');"><span class="btnText"><img class="rotate225" src="/public/arrow.png"/></span></div>
            <div class="col-xs-2" onclick="btnPress('d8');"><span class="btnText"><img class="rotate180" src="/public/arrow.png"/></span></div>
            <div class="col-xs-2" onclick="btnPress('d9');"><span class="btnText"><img class="rotate135" src="/public/arrow.png"/></span></div>
        </div>
    </h5></center>
    
    <!--
    <center>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREKM54ho1eLic4PZkR9_HyYtUtbBw1HGI_y55j6_WeZY01p4T9Rg"/>
            <h1>Listening for commands!</h1>
    </center>
    -->

    <!--Footer-->
    <div id="footer">
    	<div class="container">
        <center><h4><a href="https://twitter.com/unhgoddard">@unhgoddard</a></h4></center>
    </div>

</div>
</div>

</body>
</html>

