<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>UNH Goddard | Cmd</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	 
	<!--Socket.io-->
    <script src="/socket.io/socket.io.js"></script>
    
    <!--Annyang Voice Recognition-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/1.1.0/annyang.min.js"></script>
	
    <script>
      var socket = io.connect('https://v2-c9-bobbyg603.c9.io');
      socket.on('news', function (data) {
        console.log(data);
        socket.emit('status', "hello from the client!");
      });

    if (annyang) {
      // Let's define our first command. First the text we expect, and then the function it should call
      var commands = {
        'goddard *msg': function(msg) {
          socket.emit('new voice data', msg)
          alert("Goddard " +msg);
        }
      };
    
      // Add our commands to annyang
      annyang.addCommands(commands);
    
      // Start listening. You can call this here, or attach this call to an event, button, etc.
      annyang.start();
    }
    </script>
</head>
<body>
<div class="container">

    
    <center>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREKM54ho1eLic4PZkR9_HyYtUtbBw1HGI_y55j6_WeZY01p4T9Rg"/>
            <h1>Listening for commands!</h1>
    </center>

    <!--
    <div class="row">
        <div class="col-xs-6">
            <center>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREKM54ho1eLic4PZkR9_HyYtUtbBw1HGI_y55j6_WeZY01p4T9Rg"/>
            <h1>Speak now!</h1>
            </center>
        </div>
        
        <div class="col-xs-6">
            <center>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREKM54ho1eLic4PZkR9_HyYtUtbBw1HGI_y55j6_WeZY01p4T9Rg"/>
            <h1>Speak now!</h1>
            </center>
        </div>
    </div>
    -->

</div>
</body>
</html>